[Unit]
Description = Regenerate the machine id and host keys.
After = local-fs.target

[Service]
Type = oneshot
ExecStart = /root/regen_id
RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
